/* leaflet.css */
.leaflet-container {
    height: 100%;
    width: 100%;
    position: relative;
    outline: 0;
}

.leaflet-tile {
    position: absolute;
    left: 0;
    top: 0;
}

.leaflet-pane {
    z-index: 400;
}

.leaflet-map-pane {
    z-index: 200;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    display: block;
}

.leaflet-zoom-animated {
    transition: transform 0.25s cubic-bezier(0,0,0.25,1);
}
